@model PUNTO_VENTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PUNTO_VENTA</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PDV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PDV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CADENA_LIBRERIAS.NOMBRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CADENA_LIBRERIAS.NOMBRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIRECCIÓN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIRECCIÓN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TELEFONO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TELEFONO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LATITUD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LATITUD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LONGITUD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LONGITUD)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
